/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.landing__page__header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    padding: 0 112px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 677px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}

.landing__page__header>.introduction {
    padding: 100px 0;
    width: 50%;

    max-width: 12000px;

}

.landing__page__header>.introduction>h1 {
    color: white;
    font-size: var(--FontSize_MainTitle);
    font-family: var(--nunito);
    font-weight: var(--ExtraBold);
    line-height: 98%;
}

.landing__page__header>.introduction>h3 {
    margin-top: 22px;
    color: white;
    font-size: var(--FontSize_MainSubTitle);
    font-family: var(--nunito);
    font-weight: var(--Regular);
    line-height: 120%;
}

.landing__page__header>.introduction>p {
    margin-top: 22px;
    color: white;
    font-size: var(--FontSize_Paragraph);
    font-family: var(--nunito);
    font-weight: var(--Regular);
    line-height: 120%;
}

.landing__page__header>.introduction>span {
    margin-top: 30px;
    color: rgb(214, 214, 214);
    font-size: var(--FontSize_Paragraph);
    font-weight: var(--Regular);
    line-height: 120%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.landing__page__header>.introduction>span>img {
    margin: 0 20px;
    width: 150px;
}

.landing__page__header>.introduction>h1>strong {
    color: var(--cta__button__bgcolor);

}


.landing__page__header>.ornament {
    pointer-events: none;
    position: absolute;
    bottom: -104px;
    right: -0;
    -o-object-fit: contain;
    object-fit: contain;
    width: 1000px;
    -webkit-user-drag: none;
    z-index: 100;
}





@media (max-width: 1300px) {
    .landing__page__header>.ornament {
        display: none;
    }

    .landing__page__header>.introduction {

        width: 70%;
    }
}

@media (max-width: 1100px) {

    .landing__page__header {
        padding: 30px;
    }


    .landing__page__header>.introduction {
        padding: 25px 0;
        width: 100%;
    }

    .newsletter__subscription {
        width: 100%;

    }

}